<div class="header">
    <a href="./" class="logo">
      <img width="40" src="assets/img/empleados.png"/>
      Asociados
    </a>
    <a href="app/products/index" class="logo">
      Productos
    </a>
    <div class="header-right">
    </div>
  </div>
