<div class="table-wrapper">
    <div class="container">
        <!-- <form [formGroup]="formGroup" (submit)="search()">
            <input id="affiliateId" name="affiliateId" formControlName="affiliateId" type="text" placeholder="Id Asociado"/>
            <input type="submit" name="Buscar" />
        </form> -->

        <ng-container *ngIf="showForm">
            <app-edit-affiliate [affiliateUpdate] = "affiliateUpdate"
                            (reload)="onReloadEvent($event)"></app-edit-affiliate>
        </ng-container>
        <p style="color: red;"> {{error}} </p>
            <table class="fl-table">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Dirección</th>
                    <th>País</th>
                    <th>Acción</th>
                </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="affiliates.length <= 0">
                        <tr>
                            <td colspan="5">No hay asociados registrados</td>
                        </tr>
                    </ng-container> 
                    <tr *ngFor="let affiliate of affiliates">
                        <td>{{affiliate.name}}</td>
                        <td>{{affiliate.identification}}</td>
                        <td>{{affiliate.address}}</td>
                        <td>{{affiliate.country}}</td>
                        <td><a (click)="onEditAffiliateEvent(affiliate)" style="color: #4CAF50;"><i class="material-icons">edit</i></a></td>
                    </tr>
                <tbody>
            </table>

    </div>
</div>

