<div class="table-wrapper">
    <div class="container">
        <form [formGroup]="formGroup" (submit)="search()">
            <input id="affiliateId" name="affiliateId" formControlName="affiliateId" type="text" placeholder="Id Asociado"/>
            <input type="submit" name="Buscar" />
        </form>
        <p style="color: red;"> {{error}} </p>
            <table class="fl-table">
                <thead>
                <tr>
                    <th>Nombre Asociado</th>
                    <th>Documento Asociado</th>
                    <th>Número cuenta</th>
                    <th>Tipo cuenta</th>
                    <th>Estado</th>
                    <th>Saldo</th>
                </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="products.length <= 0">
                        <tr>
                            <td colspan="6">No hay cuentas para el asociado buscado</td>
                        </tr>
                    </ng-container> 
                    <tr *ngFor="let product of products">
                        <td>{{product.affiliateName}}</td>
                        <td>{{product.affiliateIdentification}}</td>
                        <td>{{product.accountNumber}}</td>
                        <td>{{product.typeProduct}}</td>
                        <td>{{product.active}}</td>
                        <td>{{product.balance}}</td>
                    </tr>
                <tbody>
            </table>

    </div>
</div>

