<div class="form-style-10">
    <h1>Modificar asociado<span>Los campos marcados con * son obligatorios</span></h1>
    <p style="color: red;"> {{error}} </p>
    <form [formGroup]="formGroup" (submit)="onSubmit()">
        <div class="section"><span>1</span>Información básica</div>
        <div class="inner-wrap">
            <div class="row">
                <div class="col-md-12">
                    <label>Nombre*<input formControlName="name" type="text" name="name" /></label>
                    <label>Documento*<input formControlName="identification" type="text" name="identification"/></label>
                    <label>Dirección*<input formControlName="address" type="text" name="address"/></label>
                    <label>País<input formControlName="country" type="text" name="country" /></label>
                </div>
            </div>
        </div>
        <div class="button-section">
            <input type="submit" name="Registrar" />
        </div>
    </form>
</div>